<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="TVMS.Properties.Settings.tvmsConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\tvms.mdb;Persist Security Info=True"
      providerName="System.Data.OleDb" />
  </connectionStrings>
</configuration>