<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TVMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <TVMS.Properties.Settings>
      <setting name="SQLConnString" serializeAs="String">
        <value>Provider=Microsoft.Jet.OLEDB.4.0;Data Source=.\Data\tvms.mdb;Persist Security Info=False;Jet OLEDB:Database Password=</value>
      </setting>
      <setting name="CommonDAL" serializeAs="String">
        <value>TVMS</value>
      </setting>
    </TVMS.Properties.Settings>
  </applicationSettings>
</configuration>